<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:fullBackupOnly="false"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.UserInformation"
        tools:targetApi="tiramisu">
        <activity
            android:name=".navigation.NavigationActivity"
            android:exported="false">

        </activity>
        <activity
            android:name=".intent.housingoption.HousingOptionActivity"
            android:exported="false" />
        <activity
            android:name=".informationform.emergency_contact_form.EmergencyContactFormActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" /> <!-- <activity -->
        <!-- android:name=".practice.PracticActivity" -->
        <!-- android:exported="true" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name=".informationform.InformationFormActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".informationform.confirmbottomsheetdialog.successfulStoreInfo.SuccessActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".dashboard.task.UserInformationActivity" -->
        <!-- android:exported="true" /> -->
        <activity
            android:name=".dashboard.productdetails.UpdateProductActivity"
            android:exported="false" />
        <activity
            android:name=".dashboard.productdetails.AddProductActivity"
            android:exported="false" />
        <activity
            android:name=".sqlitedatabase.contact.SQLiteMainActivity"
            android:exported="true" /> <!-- <activity -->
        <!-- android:name=".sqlitedatabase.booklibrary.BookLibraryActivity" -->
        <!-- android:exported="true" -->
        <!-- android:label="Book Library"> -->
        <!--  -->
        <!-- </activity> -->
        <activity
            android:name=".splashscreen.SplashScreenActivity"
            android:exported="true"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".userdetails.sharedPreference.SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".userdetails.sharedPreference.DataConformationActivity"
            android:exported="false" />
        <activity
            android:name=".customdialogbox.CustomDialogBoxActivity"
            android:exported="false" />
        <activity
            android:name=".customViewForRecycleView.fragment.CustomRecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name=".layout.ConstraintLayout"
            android:exported="false" />
        <activity
            android:name=".layout.RelativeLayout"
            android:exported="false" />
        <activity
            android:name=".layout.LinearLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".passDataFragmentToFragmentOnSingleActivity.SingleActivity"
            android:exported="false" /> <!-- android:name=".activityToFragment.ActivityToFragment" -->
        <!-- <activity -->
        <!-- android:name=".activityToFragment.MainActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".fragmentToActivity.FragmentToActivity"
            android:exported="false" />
        <activity
            android:name=".activityLifeCycle.LifeCycleOFActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".recycleView.UserInfo" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".customViewForRecycleView.CARVActivity"
            android:exported="false" />
        <activity
            android:name=".intent.IntentActivity"
            android:exported="false" />
        <activity
            android:name=".customAdapter.singlePage.NewCustomListView"
            android:exported="false" />
        <activity
            android:name=".customAdapter.CustomListView"
            android:exported="false" />
        <activity
            android:name=".InputField.InputFieldActivity"
            android:exported="false" />
        <activity
            android:name=".user.UserDetails"
            android:exported="false" />
        <activity
            android:name=".employee.Employee"
            android:exported="false" />
        <activity
            android:name=".shoes.Shoes"
            android:exported="false" />
        <activity
            android:name=".timepicker.TimePickerActivity"
            android:exported="false" />
        <activity
            android:name=".Groceries.GroceriesActivity"
            android:exported="false" />
        <activity
            android:name=".pharmacy.Pharmacy"
            android:exported="false" />
        <activity
            android:name=".informationform.emergency_contact_form.Beauty"
            android:exported="false" />
        <activity
            android:name=".home.Home"
            android:exported="false" />
        <activity
            android:name=".electronics.ElectronicsActivity"
            android:exported="false" />
        <activity
            android:name=".cloth.Cloth"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".userdetails.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".dashboard.DashBoardActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".userdetails.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".dashboard.productdetails.ViewProductsActivity"
            android:exported="false" />
    </application>

</manifest>