<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UserInformation"
        tools:targetApi="31">
        <activity
            android:name=".dashboard.productdetails.UpdateProductActivity"
            android:exported="false" />
        <activity
            android:name=".dashboard.productdetails.AddProductActivity"
            android:exported="false" />
        <activity
            android:name=".sqlitedatabase.contact.SQLiteMainActivity"
            android:exported="true">

        </activity> <!-- <activity -->
        <!-- android:name=".sqlitedatabase.booklibrary.BookLibraryActivity" -->
        <!-- android:exported="true" -->
        <!-- android:label="Book Library"> -->
        <!--  -->
        <!-- </activity> -->
        <activity
            android:name=".splashscreen.SplashScreenActivity"
            android:exported="true"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".userdetails.sharedPreference.SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".userdetails.sharedPreference.DataConformationActivity"
            android:exported="false" />
        <activity
            android:name=".customdialogbox.CustomDialogBoxActivity"
            android:exported="false" />
        <activity
            android:name=".customViewForRecycleView.fragment.CustomRecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name=".layout.ConstraintLayout"
            android:exported="false" />
        <activity
            android:name=".layout.RelativeLayout"
            android:exported="false" />
        <activity
            android:name=".layout.LinearLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".passDataFragmentToFragmentOnSingleActivity.SingleActivity"
            android:exported="false" /> <!-- android:name=".activityToFragment.ActivityToFragment" -->
        <!-- <activity -->
        <!-- android:name=".activityToFragment.MainActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".fragmentToActivity.FragmentToActivity"
            android:exported="false" />
        <activity
            android:name=".activityLifeCycle.LifeCycleOFActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".recycleView.UserInfo" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".customViewForRecycleView.CARVActivity"
            android:exported="false" />
        <activity
            android:name=".intent.IntentActivity"
            android:exported="false" />
        <activity
            android:name=".customAdapter.singlePage.NewCustomListView"
            android:exported="false" />
        <activity
            android:name=".customAdapter.CustomListView"
            android:exported="false" />
        <activity
            android:name=".InputField.InputFieldActivity"
            android:exported="false" />
        <activity
            android:name=".user.UserDetails"
            android:exported="false" />
        <activity
            android:name=".employee.Employee"
            android:exported="false" />
        <activity
            android:name=".shoes.Shoes"
            android:exported="false" />
        <activity
            android:name=".timepicker.TimePickerActivity"
            android:exported="false" />
        <activity
            android:name=".Groceries.GroceriesActivity"
            android:exported="false" />
        <activity
            android:name=".pharmacy.Pharmacy"
            android:exported="false" />
        <activity
            android:name=".beauty.Beauty"
            android:exported="false" />
        <activity
            android:name=".home.Home"
            android:exported="false" />
        <activity
            android:name=".electronics.ElectronicsActivity"
            android:exported="false" />
        <activity
            android:name=".cloth.Cloth"
            android:exported="false" />
        <activity
            android:name=".userdetails.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".dashboard.DashBoardActivity"
            android:exported="false" />
        <activity
            android:name=".userdetails.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".dashboard.productdetails.ViewProductsActivity"
            android:exported="false" />
    </application>

</manifest>